<div class="section">
    <div class="inner">
        <ul class="block-list">
            <li><i class="devicon-csharp-plain" aria-hidden="true"></i><span>C#</span></li>
            <li><i class="devicon-dot-net-plain" aria-hidden="true"></i><span>.NET</span></li>
            <li><i class="devicon-javascript-plain" aria-hidden="true"></i><span>JavaScript</span></li>
            <li><i class="devicon-cplusplus-plain" aria-hidden="true"></i><span>C++</span></li>
            <li><i class="devicon-visualstudio-plain" aria-hidden="true"></i><span>Visual Studio</span></li>
            <li><i class="devicon-git-plain" aria-hidden="true"></i><span>Git</span></li>
            <li><i class="devicon-html5-plain" aria-hidden="true"></i><span>HTML</span></li>
            <li><i class="devicon-css3-plain" aria-hidden="true"></i><span>CSS</span></li>
            <li><i class="fa fa-database" aria-hidden="true"></i><span>SQL</span></li>
        </ul>
    </div>
</div>