html {
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
}

html, body {
    width: 100%;
    margin: 0;
}

body {
    background: #f5f5f5;
    overflow-x: hidden;
}

#header {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background: #333;
}

#header__background {
    background-image: url("header.jpg");
    background-size: cover;
    background-position: 50% 70%;
    width: 100%;
    height: inherit;
    will-change: transform;
}

#header__text {
    z-index: 1;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 50px 0;
    top: 0;

    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

h1 {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 2.8em;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
    font-weight: 600;
    color: #fff;
    margin: 0;
}

h2 {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 1.2em;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
    font-weight: 500;
    color: #fff;
    margin: 0;
}

.inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.inner p {
    color: #1e1e1e;
    font-size: 1em;
    line-height: 24px;
}

.block__list {
    display: block;
    text-align:center;
    margin: 0;
    padding: 0;
    color: #1e1e1e;
}

.block__list li {
    display: inline-block;
    margin: 0;
    padding: 15px 10px;
    text-align: center;
    width: 80px;
    height: 75px;
}

.block__list li i {
    font-size: 3em;
    display: block;
    padding: 0 0 10px 0;
}

.block__list li span {
    font-size: 0.85em;
    text-align: center;
}

.block__list a li {
    -webkit-transition: 0.2s background;
    -moz-transition: 0.2s background;
    transition: 0.2s background;
    text-decoration: none;
    color: #1e1e1e;
}

.block__list a li:hover {
    background: #ddd;
}

.section {
    padding: 20px 0 20px 0;
}

.alt {
    background-color: #e0e0e0;
}

.section p a {
    text-decoration: underline;
    color: inherit;
}

a:active {
    opacity: 0.8;
}

h3 {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 1.7em;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

h4 {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
}

.left__column h4 {
    text-align: center;
}

h3, h4, h5, h6 {
    color: #1e1e1e;
    margin: 0;
}

h5 {
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px 0 0px 0;
}

h6 {
    font-size: 1em;
    font-weight: 300;
    padding: 5px 0 0 0;
}

#footer {
    background-color: #1e1e1e;
    width: 100%;
    height: 100px;
    display: table;
}

#footer #footer__info {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #F7F7F7;
}

.left__column {
    float: left;
    width: 300px;
    background-color: #cccccc;
}

.right__column {
    overflow: auto;
}

.left__column, .right__column {
    padding: 20px;
}

.me {
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto 10px auto;
    border-radius: 100%;
    border: 1px solid #1e1e1e;
}

.separator {
    margin: 20px 0 20px 0;
    border-bottom: 1px solid #aaaaaa;
}

.wrap__background {
    margin: 0 auto;
    overflow: auto;
}

i {
    padding-right: 10px;
}

@media screen and (max-width: 760px) {
    #header {
        height: 440px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 0.9em;
    }

    .menu__button {
        display: block;
        z-index: 3;
    }

    .left__column {
        border-bottom: 1px solid #ddd;
        background: transparent;
    }

    .left__column, .right__column{
        width: auto;
        float: none;
    }
}

@media screen and (max-height: 500px) {
    #header, #header__text {
        height: 300px;
    }

    h1 {
        line-height: 300px;
    }
}