html {
    height: 100%;
}

body {
    margin: 0px;
	font-family: 'Roboto', sans-serif;
    background-color: #1E1E1E;
    color: #cacaca;
    height: 100%;
}

#header {
    background: #181818;
    height: 100%;
    padding-top: 20px;
    position: relative;
}

#header:before{
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    background-image: url("header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

.textpanel h1 {
    text-align: center;
    width: 100%;
    color: #eeeeee;
    font-weight: 500;
    font-size: 40px;
    height: 100%;
    top: 50%;
    margin: 0;
    position: relative;
    line-height: 100%;
}

.textpanel {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
}

.middle {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
    position: relative;
}

.middle2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 20px;
    position: relative;
}

.navbar {
    line-height: 0px;
}

.navbar ul {
    list-style-type: none;
    text-align: right;
}

.navbar ul li{
    list-style-type: none;
    padding-left: 24px;
    display:inline;
}

.navbar ul li a{
    text-decoration: none;
    color: #eeeeee;
}

.navbar ul li a:hover{
    opacity: 0.8;
}

.navbar ul li a:active{
    opacity: 0.5;
}

.navbar .menu {
    display: none;
    font-size:24px;
}

.socialbar{
    background: #eeeeee;
    width: 100%;
    height: 100px;
}

.socialitems{
    display: table;
    margin: 0 auto;
    line-height: 0px;
}

.socialitems i{
    font-size: 72px;
    padding: 14px;
    color: #551A8B;
    height: 100%;
}

.socialitems i:hover{
    opacity: 0.8;
}

.socialitems i:active{
    opacity: 0.5;
}

@media screen and (max-width: 610px) {
  .navbar li:not(:first-child) {
      display: none;
    }
  .navbar a.menu {
    float: right;
    display: block;
    color: #eeeeee;
  }
}

.img-rounded {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 24px;
    display: table;
    margin: auto;
}

.name {
    text-decoration: none;
    color: #eeeeee;
    font-size: 24px;
    min-width: 250px;
    float: left;
}

.name:hover {
	opacity: 0.8;
}

.name:active {
	opacity: 0.5;
}

#aboutpanel {
    height: 300px;
    background-color: #2A2A2A;
}

#aboutpanel h2{
    font-size: 24pt;
    color: #eeeeee;
    text-align: center;
    margin-top: 14px;
    font-weight: 500;
}

.dropdown {
    position: relative;
    float: right;
}

.dropdown-content {
    margin-top: 20px;
    display: none;
    position: relative;
    background-color: #1E1E1E;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 30px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}