html {
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    overflow-x: hidden;
    background: #fff;
}

#header {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background: #333;  
    transition: height 0.2s; 
    position: relative;
    border-bottom: 1px solid #eee;
}

#header__background {
    background-image: url("header.jpg");
    background-size: cover;
    background-position: 50% 70%;
    width: inherit;
    height: inherit;
    display: table;
    will-change: transform;
}

#header__centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    
}

#header__centered h1{
    font-size: 2em;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
    color: #fff;
}

.inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

.inner p {
    color: #606060;
    font-size: 16px;
}

.block__list {
    display: block;
    text-align:center;
    margin: 0;
    padding: 0;
}

.block__list li {
    display: inline-block;
    margin: 0;
    padding: 15px;
    text-align: center;
    width: 70px;
    height: 75px;
}

.block__list li i {
    font-size: 3em;
    display: block;
    padding: 0 0 10px 0;
}

.block__list li span {
    font-size: 1em;
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
}

.block__list a li {
    -webkit-transition: 0.2s background;
    -moz-transition: 0.2s background;
    transition: 0.2s background;
    text-decoration: none;
    color: #1e1e1e;
}

.block__list a li:hover {
    background: #ddd;
}

.section {
    padding: 20px 0 20px 0;
}

.section p a {
    text-decoration: underline;
    color: inherit;
}

a:active {
    opacity: 0.8;
}

.section h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #1e1e1e;
    margin: 0;
    padding-bottom: 20px;
}

.section h3 {
    font-size: 26px;
    font-weight: 600;
    color: #1e1e1e;
    margin: 0;
}

.left__column h3 {
    text-align: center;
    padding-bottom: 10px;
}

.left__column p {
    margin-bottom: 15px;
}

.section h4, .section h5 {
    text-align: left;
    color: #3e3e3e;
    margin: 0;
}

.section h4 {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0 0px 0;
}

.section h5 {
    font-size: 16px;
    font-weight: 300;
    padding: 5px 0 10px 0;
}

#footer {
    background-color: #1e1e1e;
    width: 100%;
    height: 100px;
    display: table;
}

#footer #footer__info {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #eee;
}

.menu__button {
    display: none;
    right: 0;
    position: absolute;
    font-size: 20px;
    padding: 0 20px 0 20px;
    float: right;
}

.left__column {
    float: left;
    width: 300px;
}

.right__column {
    overflow: auto;
}

.left__column, .right__column {
    padding: 20px;
}

p {
    margin: 0;
}

.me {
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto 20px auto;
    border-radius: 100%;
    border: 1px solid #000;
}

.separator {
    margin: 20px 0 20px 0;
    border-bottom: 1px solid #d0d0d0;
}

.wrap__background {
    background-color: #eee;
    margin: 0 auto 10px auto;
    overflow: auto;
}

i {
    font-size: 20;
    padding-right: 10px;
}

.projects {
    display: block;
    text-align:center;
    margin: 0;
    padding: 0;
}

.projects li {
    display: inline-block;
    margin: 0 3px 9px 3px;
    padding: 15px;
    background: #ddd;
    text-align: center;
    width: 150px;
    height: 150px;
    color: #fff;
}

.projects li span {
    font-size: 1.2em;
    vertical-align: bottom;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 760px) {
    #header {
        height: 440px;
    }

    .menu__button {
        display: block;
        z-index: 3;
    }

    .left__column {
        border-bottom: 1px solid #ddd;
    }

    .left__column, .right__column{
        width: auto;
        float: none;
    }

    .github, .email {
        border-radius: 0;
    }
}

/* The css below resets the top right menu when making window big again */
@media screen and (min-width: 761px) {
    #page__fade {
        display: none !important;
    }

    #links {
        color: inherit !important;
    }

    #links ul {
        width: auto !important;
    }
}

@media screen and (max-height: 500px) {
    #header {
        height: 300px;
    }
}