html,
body{
    height:100%;
}

body{
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;    
    background-color: #eeeeee;
}

#header {
    background-color: #90CAF9;
    height: 100%;
    width: 100%;
}

#header:before{
    content: " ";
    width: 100%;
    height: 100%;
    background: url("photo.jpg");
    background-position: center; 
    background-size: cover; 
    position: absolute;
    opacity: 0.4;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;
}

#header a {
    text-decoration: none;
    color: #1E1E1E;
}

#header a:hover {
    opacity: 0.8;
}

#header a:active {
    opacity: 0.5;
}

#middle__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 500px;
}

#middle__content h1 {
    font-size: 44;
    font-weight: 500;
    color: #1E1E1E;
    margin: 5px;
}

#middle__content h2 {
    font-size: 24;
    font-weight: 500;
    color: #1E1E1E;
    margin: 5px;
}

#social__content {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#social__content a {
    font-size: 72;
    color: #1E1E1E;
    padding: 20px;
}

#navbar {
    position: relative;
    height: 70px;
    width: 100%;
    max-width: 1250px;
    margin: auto;
}

#name,
#links{
    position: absolute;
    top: 50%;
    padding: 20px;
    transform: translateY(-50%);
}

#name {
    left: 0;
    font-weight: 100;
    font-size: 24px;
}

#links {
    right: 0;
    list-style-type: none;
    text-align: right;
    font-size: 18;
    font-weight: 100;
}

#links ul li{
    padding-left: 24px;
    display:inline;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.4; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.4; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes 
fadein {
    from { opacity: 0; }
    to   { opacity: 0.4; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.4; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.4; }
}