html,
body{
    height:100%;
}

body{
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;    
    background-color: #eeeeee;
}

#header {
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
}

#header:before{
    content: " ";
    width: 100%;
    height: 100%;
    background: url("photo.jpg");
    background-position: center; 
    background-size: cover; 
    position: absolute;
    opacity: 0.2;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;
}

#header a:hover {
    opacity: 0.7;
}

#header a:active {
    opacity: 0.5;
}

#middle__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 350px;
    max-width: 500px;
}

#middle__content h1 {
    font-size: 44;
    font-weight: 500;
    color: #d32f2f;
    margin: 5px;
}

#middle__content h2 {
    font-size: 24;
    font-weight: 500;
    color: #1E1E1E;
    margin: 0px;
}

#middle__content i {
    font-size: 48;
    color: #1E1E1E;
    margin: 0px;
    padding: 20px;
}
#middle__content h1 a {
    text-decoration: none;
    color: #d32f2f;
}

#navbar a {
    text-decoration: none;
    color: #1E1E1E;
}

#navbar {
    position: relative;
    height: 70px;
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

#navbar .menu {
    display: none;
}

#name,
#links{
    position: absolute;
    top: 50%;
    padding: 20px;
    transform: translateY(-50%);
}

#name {
    left: 0;
    font-weight: 500;
    font-size: 24px;
}

#links {
    right: 0;
    list-style-type: none;
    text-align: right;
    font-size: 24px;
    font-weight: 100;
}

#links ul li{
    padding-left: 24px;
    display:inline;
    font-size: 24px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.2; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.2; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes 
fadein {
    from { opacity: 0; }
    to   { opacity: 0.2; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.2; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.2; }
}

@media screen and (max-width: 450px) {
  #navbar li:not(:first-child) {
      display: none;
    }
  #navbar a.menu {
    float: right;
    display: block;
  }
}