html,
body{
    height:100%;
    max-height: 100%;
    max-width: 100%;
}

body{
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;    
    background-color: #eeeeee;
    overflow:hidden;
}

#header {
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
    overflow:hidden;
}

#header:before{
    content: " ";
    width: 100%;
    height: 100%;
    background: url("404.jpg");
    background-position: center; 
    background-size: cover; 
    position: absolute;
    opacity: 0.15;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;
}

#header a:hover {
    opacity: 0.7;
}

#header a:active {
    opacity: 0.5;
}

#middle__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 450px;
}

#middle__content h1 {
    font-size: 44;
    font-weight: 500;
    color: #d32f2f;
    margin: 5px;
}

#middle__content h2 {
    font-size: 24;
    font-weight: 500;
    color: #1E1E1E;
    margin: 0px;
}

#middle__content i {
    font-size: 48;
    color: #1E1E1E;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#middle__content h1 a {
    text-decoration: none;
    color: #d32f2f;
}

#navbar a {
    text-decoration: none;
    color: #1E1E1E;
}

#navbar {
    position: relative;
    height: 70px;
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

#navbar .menu {
    display: none;
}

#name,
#links{
    position: absolute;
    top: 50%;
    padding: 20px;
    transform: translateY(-50%);
    font-size: 24px;
}

#name {
    left: 0;
    font-weight: 500;
    font-size: 24px;
}

#links {
    right: 0;
    list-style-type: none;
    text-align: right;
    font-size: 24px;
    font-weight: 100;
}

#links ul li{
    padding-left: 24px;
    display:inline;
    font-size: 24px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.15; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.15; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes 
fadein {
    from { opacity: 0; }
    to   { opacity: 0.15; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.15; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.15; }
}


@media screen and (max-width: 500px), screen and (max-height: 450px) {
    #navbar li:not(:first-child), #middle__content i {
        display: none;
        }
    #navbar a.menu {
        float: right;
        display: block;
    }

    #middle__content {
        width: 340px;
    }

    #middle__content h1 {
        font-size: 38;
    }

    #middle__content h2 {
        font-size: 18;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #eeeeee;
    overflow: hidden;
    transition: 0.3s;
}

.sidenav ul {
    padding-left: 0px;
    padding-right: 0px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
}

.sidenav ul li i {
    padding-right: 20px;
}

.sidenav ul li {
    font-weight: 400;
    text-align: center;
    padding: 20px;
    float: left;
}

.sidenav li a {
    color: #1E1E1E;
    font-size: 30px;
    text-decoration: none;
}

.sidenav .closebtn {
    color: #1E1E1E;
    position: absolute;
    text-decoration: none;
    top: 20px;
    right: 20px;
    font-size: 24px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}