.right-column
  h3
    i.fa.fa-briefcase(aria-hidden='true')
    | Work Experience
  h4 Uline
  .info-block
    h5 Associate Software Developer
    p August 2018 - Today
  .info-block
    h5 Web Developer/IT Intern
    p May 2018 - August 2018
  p
    | Uline is a large supplier of boxes, business supplies, and packing materials. As a
    | member of the web development team, I&apos;m working on programming applications, fixing bugs,
    | and improving the main website at 
    a(href='https://www.uline.com') Uline.com
    | .
  h4 Power Electronics International, Inc.
  .info-block
    h5 IT Intern
    p May 2017 - August 2017
    p
      | Power Electronics International is known for manufacturing their high quality Variable
      | Speed Drives, Soft-Start Controls, and Control Panels. As an information technology
      | intern, I focused on keeping internal systems running as well as developing
      | applications and tools for employees to use inside the company.
  h3.separator
    i.fa.fa-graduation-cap(aria-hidden='true')
    | Education
  h4 Northern Illinois University - DeKalb, Illinois
  p August 2016 - August 2018
  p
    | My junior year of college began at NIU during the Fall of 2016. I graduated with a
    | Bachelor&apos;s degree in Computer Science with an emphasis on Enterprise Software. I also
    | earned a minor in Economics.
  h4 McHenry County College - Crystal Lake, Illinois
  p August 2014 - May 2016
  p
    | My time enrolled in MCC was spent working towards an Associate&apos;s of Science Degree. In May
    | of 2016, I finished taking all the required classes for the program, allowing me to
    | transfer to a four-year university. After spending the summer working, I transferred to
    | Northern Illinois University to continue my education in Computer Science.
