@import "variables.scss";

#flex-loading {
    background: #eee;
    display: flex;
    position: fixed;
    z-index: -1;
    flex: 1;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%; // IE support
    height: 100%; // IE support

    @media #{$dark-mode} {
        background: #1d1f20;
    }
}

#preloader {
    border: 3px solid #e0e0e0;
    border-top: 3px solid #333;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin: 30px;
    animation: loading 0.8s cubic-bezier(0.6, 0.4, 0.8, 1) infinite;

    @media #{$dark-mode} {
        border: 3px solid #393939;
        border-top: 3px solid #5c5c5c;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}