html {
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    background: #1e1e1e;
}

body {
    margin: 0;
    background: #1e1e1e;
    min-width: 225px;
    -webkit-text-size-adjust: 100%;
}

#body-content {
    background: #eee;
    opacity: 1;
    z-index: 2;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: -apple-system, 'Open Sans', 'Arial', sans-serif;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
}

h3,
h4,
h5 {
    color: #1e1e1e;
}

h4 {
    border-bottom: 1px solid #aaaaaa;
    padding: 3px 0;
    font-size: 1.1em;
    font-weight: 700;
}

h5 {
    font-size: 0.9em;
    font-weight: 700;
}

.inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.inner p {
    color: #1e1e1e;
    font-size: 1em;
    line-height: 25px;
    margin: 2px 0px 9px 0px;
}

.section {
    padding-top: 35px;

    p {
        a {
            text-decoration: underline;
            color: inherit;
        }
    } 
}

::-webkit-scrollbar {
    background: #e0e0e0;
    width: 10px;
}

::-webkit-scrollbar-corner {
    background: #aaaaaa;
}

::-webkit-scrollbar-thumb {
    background: #666666;
}