.flex-content {
    display: flex;
    flex-flow: row nowrap;
    background: #e0e0e0; // Backup for gradient
    background: linear-gradient(to bottom right, #d0d0d0, #e0e0e0);
}

p {
    color: #1e1e1e;
    font-size: 1em;
    line-height: 25px;
    margin: 2px 0px 9px 0px;
}