.left-column
  img.me(src='/assets/images/me.jpg' alt='')
  h3 {{Name}}
  p 
    | Even when I was little, developing computer programs interested me. I became involved in
    | computer science when I started building small computer games in 
    a(href='https://en.wikipedia.org/wiki/GameMaker_Studio') Game Maker
    | . As I dove into the world of programming at 14 years old, I developed
    | websites and started writing simple code. I learned the basics of HTML, CSS, JavaScript,
    | and PHP to show off the small video games that I made.
  p
    | I've developed numerous applications being used in the real world - from small programs to
    | this website. You can find some of my active projects and the code for this website on 
    a(href='https://github.com/Whit128') GitHub
    | .
  p
    | In my free time, I like to play guitar, sing, and master music in post production. You can
    | find some of my music on 
    a(href='https://soundcloud.com/david-whitcome') SoundCloud
    | . I
    |         won first place for the song "
    a(href='https://soundcloud.com/david-whitcome/tradition') Tradition
    | " in McHenry County College&apos;s Voices Magazine in 2015. I&apos;m also a proud Eagle Scout in the
    | Boy Scouts of America as of August 2014.
