<div class="section">
    <div class="inner">
        <ul class="block-list hover-list">
            <li><a href="https://github.com/Whitcome" class="github"><i class="fa fa-github" aria-hidden="true"></i><span>GitHub</span></a></li>
            <li><a href="https://www.linkedin.com/in/david-whitcome"><i class="fa fa-linkedin" aria-hidden="true"></i><span>LinkedIn</span></a></li>
            <li><a href="https://www.instagram.com/davidwhitcome25/"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a></li>
            <li><a href="https://soundcloud.com/david-whitcome"><i class="fa fa-soundcloud" aria-hidden="true"></i><span>SoundCloud</span></a></li>
        </ul>
    </div>
</div>