@import "../../../variables.scss";

:host {
    flex: 0 1000px;
    
    @media #{$mobile} {
        flex: none;
    }
}

.left-column {
    flex: 0 1000px;
    padding: 20px;

    @media #{$mobile} {
        padding-bottom: 0px;
        width: auto;
    }

    .me {
        display: block;
        width: 100px;
        height: 100px;
        margin: 0 auto 6px auto;
        border-radius: 50%;
        border: 1px solid #1e1e1e;
    }

    h3 {
        text-align: center;
    }

    p {
        color: #1e1e1e;
        font-size: 1em;
        line-height: 25px;
        margin: 2px 0px 9px 0px;
    }
}