@import "../variables.scss";

#body-content {
    background: #eee;

    @media #{$dark-mode} {
        background: #1d1f20;
    }
}

.ios-bar {
    display: block;
    position: fixed;
    width: 100%;
    height: constant(safe-area-inset-top);
    height: env(safe-area-inset-top);
    background: #1e1e1e;
    z-index: 3;
    opacity: 0.25;
}