$mobile: "screen and (max-width: 830px)";
$dark-mode: "(prefers-color-scheme: dark)";

// Colors
$text-light: #eeeeee;
$text-dark: #181818;
$border-color: #aaaaaa;
$background-light: rgba(238, 238, 238, 0.7);
$background-light-gradient: rgba(208, 208, 208, 0.7);
$background-dark: rgba(29, 31, 32, 0.8);
$background-dark-gradient: rgba(38, 40, 42, 0.8);