html {
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    background: #1e1e1e;
}

body {
    margin: 0;
    background: #1e1e1e;
    min-width: 225px;
}

#flex__loading {
    background: #eee;
    display: none;
    position: fixed;
    z-index: 4;
    opacity: 1;
    flex: 1;
    justify-content: center;
    align-items: center;
    -webkit-transition: ease-out 0.2s opacity;
    transition: ease-out 0.2s opacity;
    width: 100%; /* IE support */
    height: 100%; /* IE support */
}

#preloader {
    border: 3px solid #e0e0e0;
    border-top: 3px solid #333;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin: 30px;
    animation: loading 0.8s cubic-bezier(0.6, 0.4, 0.8, 1) infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#body__content {
    background: #eee;
    opacity: 1;
    z-index: 2;
}

#header {
    position: relative;
    flex: 1;
    height: 75vh;
    min-height: 300px;
    max-height: 1000px;
    overflow: hidden;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header__background {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: 50% 70%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#header__centered {
    z-index: 2;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Open Sans', 'Arial', sans-serif;
}

h1 {
    font-size: 2.8em;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
    font-weight: 700;
    color: #F7F7F7;
    transition: font-size 0.2s ease-out;
}

h2 {
    font-size: 1.2em;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
    font-weight: 500;
    color: #F7F7F7;
    transition: font-size 0.2s ease-out;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
}

h3,
h4,
h5 {
    color: #1e1e1e;
}

h4 {
    border-bottom: 1px solid #aaaaaa;
    padding: 3px 0;
    font-size: 1.3em;
    font-weight: 700;
}

h5 {
    font-size: 1em;
    font-weight: 700;
    
}

.inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.inner p {
    color: #1e1e1e;
    font-size: 1em;
    line-height: 25px;
    margin: 2px 0px 9px 0px;
}

.block__list {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #1e1e1e;
}

.block__list li {
    display: inline-block;
    padding: 15px 10px;
    text-align: center;
    width: 80px;
    height: 75px;
    transition: padding 0.2s ease-out;
}

.block__list li i {
    font-size: 3em;
    display: block;
    padding: 0 0 10px 0;
}

.block__list li span {
    font-size: 0.85em;
    text-align: center;
}

.block__list li a {
    text-decoration: none;
    color: #1e1e1e;
}

.hover__list li {
    -webkit-transition: 0.2s background;
    -moz-transition: 0.2s background;
    transition: 0.2s background;
}

.hover__list li:hover {
    background: #bbbbbb;
}

.section {
    padding-top: 35px;
}

.section p a {
    text-decoration: underline;
    color: inherit;
}

.alt1,
.alt2,
.alt3 {
     background-color: #e0e0e0; /* Backup for gradient */
}

.alt1 {
    background: linear-gradient(to bottom, #d0d0d0, #eeeeee);
}

.alt2 {
    background: linear-gradient(to bottom right, #d0d0d0, #e0e0e0);
}

.alt3 {
    background: linear-gradient(to top, #d0d0d0, #eeeeee);
    padding-bottom: 35px;
}

a:active {
    opacity: 0.8;
}

#footer {
    background-color: #1e1e1e;
    color: #F7F7F7;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.flex_content {
    display: flex;
    flex-flow: row nowrap;
}

.left__column,
.right__column {
    padding: 20px;
}

.left__column {
    flex: 0 300px;
}

.left__column h3 {
    text-align: center;
}

.right__column {
    flex: 1;
}

.right__column i {
    padding-right: 7px;
}

.separator {
    margin-top: 12px;
}

.info__block {
    display: inline-block;
    padding: 7px 14px 0 0;
}

.me {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto 6px auto;
    border-radius: 50%;
    border: 1px solid #1e1e1e;
}

.ie10__fix {
    position: relative;
    z-index: 2;
}

#old__browser {
    background: #ffff6b;
    text-align: center;
    padding: 15px 20px;
}

@media screen and (max-width: 760px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 0.9em;
    }

    .flex_content {
        flex-flow: column wrap;
    }

    .left__column {
        padding-bottom: 0px;
    }

    .left__column,
    .right__column {
        flex: none;
        width: auto;
    }
}

@media screen and (max-width: 363px) {
    .block__list li {
        padding: 15px 3px;
    }
}